<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>增值税发票解析</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        function readAsDataURL() {
            if (typeof FileReader == 'undifined')          //判断浏览器是否支持filereader
            {
                result.innerHTML = "<p>抱歉，你的浏览器不支持 FileReader</p>";
                return false;
            }
            var file = document.getElementById("imagefile").files[0];
            if (!/image\/\w+/.test(file.type))           //判断获取的是否为图片文件
            {
                alert("请确保文件为图像文件");
                return false;
            }
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function (e) {
                var result = document.getElementById("result");
                result.innerHTML = '<img src="' + this.result + '" alt=""/>'
            }

        }
    </script>

    <script>
        function submitIdCard() {
            $.ajax({
                type: "POST",
                url: "/invoice-image",
                contentType: "application/x-www-form-urlencoded",
                dataType: "json", //表示返回值类型，不必须
                data: {
                    image: $('img').attr('src'),
                    id_card_side: 'front'
                },
                success: function (jsonResult) {
                    // alert(jsonResult);
                    $("#json-result").html(JSON.stringify(jsonResult, null, 2));
		    console.log('download...', 'download/'+jsonResult.fileName);
			if(jsonResult.download_url){
				download(jsonResult.download_url, "hh");
			}else{
				$("#json-result").html("<pre style='color:red'>"+jsonResult.trace_info+"</pre>");
			};
                }
            });
        }
function download(url,name){
    var a = document.createElement("a");
     a.download = name + ".xls";
     a.href = url;
     $("body").append(a);
     a.click();
     $(a).remove();
}
    </script>
    <style>
        #result {
            width: 50%;
            height: calc(100% - 100px);
            overflow-y: auto;
            float: left;
        }

        #json-result {
            width: 50%;
	    height: calc(100% - 100px);
	    overflow-y: auto;
	    float: left;
            white-space: pre-wrap;
        }
	img {
	    width: 100%;
	}
    </style>
</head>

<body>
<p>
    <label>请选择一个文件：</label>
    <input type="file" id="imagefile" onchange="readAsDataURL();"/>
    <input type="button" value="OCR识别" onClick="submitIdCard();"/>
</p>
<div name="result" id="result">
    <!-- 这里用来显示图片结果-->
</div>
<div id="json-result">

</div>
</body>
</html>